<%- include('header') -%>

<body>
  <h2>About</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque assumenda
    doloremque voluptates amet repellat quaerat at hic. Voluptatibus ea delectus
    assumenda magnam eligendi numquam, tempora ipsam veritatis dolores, a
    accusantium.
  </p>
</body>

<%- include('footer') -%>
